# .NET
bin/
obj/
*.user
*.suo
.vs/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Entorno
.env*
.env.local
.env.*.local
appsettings.Production.json
appsettings.Development.json

# Editores
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
.postman/
postman/
.DS_Store
.editorconfig

# Logs
*.log
npm-debug.log*
# TypeScript
*.tsbuildinfo

# Fotos subidas en desarrollo (decisión 014)
uploads/
